@charset "UTF-8";

@media  (max-width: 768px) {

    .menu-hamburguer {
        display: block;
    }

    nav.menu {
        display: none;
    }

    nav.menu.ativo {
        display: flex;
        flex-direction: column;
    }

    nav.menu > ul {
        flex-direction: column;
        gap: 12px;
        padding: 0;
        margin: 0;
        width: 40%;
    }

    nav.menu > ul > li > a {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 15px;
        border-radius: 8px;
        text-decoration: none;
    }

    nav.menu > ul > li > a .texto-link {
        display: inline-block;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
    }

    nav.menu > ul > li > a :hover {
        color: grey;
        transition: 0.4s;
    }
    
    nav.menu > ul > li > a .material-symbols-outlined {
        border: none;
        box-shadow: none;
        background: transparent;
    }

    nav.menu > ul > li > a .material-symbols-outlined:hover {
        background: transparent;
        transform: none;
    }

    nav.menu > ul > li > a {
        display: flex;
        align-items: center;      
        gap: 15px;                  
    }

    nav.menu {
        display: none;
        position: absolute;
        top: 85px;
        right: 20px;
        width: 200px;
        background: rgba(15, 23, 42, 0.85);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        padding: 15px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    }
    
    main>section.portfolio{
        flex-flow: column-reverse;
    }

}

@media (max-width: 800px){
    main>section.portfolio{
        font-size: clamp(10px, 5vw, 15px);

    }
}

@media (min-width: 900px){
    main>section.portfolio{
        min-height: 500px;
        font-size: 19px;
    }
}